<div class="container">
  <div class="jumbotron text-center">
    <h1>Nº de Registros: <span class="label label-success"> {{personas.length}} </span></h1>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <table class="table table-striped">
        <tr class="info">
          <td>Nombre</td>
          <td>Apellidos</td>
          <td>Edad</td>
          <td>Editar</td>
          <td>Borrar</td>
        </tr>
        <tr *ngFor="let persona of personas">
          <td> {{persona.nombre}}</td>
          <td> {{persona.apellido}}</td>
          <td> {{persona.edad}}</td>
          <td>
            <a>
              <i class="material-icons">mode_edit</i>
            </a>
          </td>
          <td>
            <a (click)="deleteUser(user)" href="">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
      </table>

      <!--<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light green"
           routerLink="/users/new">
          <i class="material-icons">add</i>
        </a>
      </div> -->


    </div>
  </div>
</div>

